@import url(http://fonts.googleapis.com/css?family=Dosis);

body {
	font-family: "Dosis" sans-serif;
	background-image: url("SMWW.jpg");
	background-size: 100% 100%;}

#container {
	width: 1200px;
}

h3 {
	color: #0D38C5;
	font-size:50px;
	text-align: center;
	padding: 0;
	margin:0;
	}

h5 {
	color: #fff;
	padding: 0px;
	font-size: 30px;
	text-align: center;
	}

h4 {
	color: #fff;
	font-size: 25px;
	text-align: center;
}


li {
	font-family: 'Dosis', sans-serif;
	color: #fff;
	font-size: 40px;
	border: 2px solid white;
}

ul {
	list-style-type: none;
	width: 100%;
	margin-top: 20px;
}

img {
	position: relative;
}

.button {
	display: inline-block;
    height:20px;
	width:100px;
	background-color:#0D38C5;
	font-family:'Dosis', sans-serif;
	font-weight:bold;
	color:#ffffff;
	border-radius: 8px;
	text-align:center;
	margin-top:2px;
	border: 2px solid white;
	padding: 25px;
	margin-left: 35%;
	clear:left;
	cursor: pointer;
}

.highlight {
	background-color:#ffffff;
	color: #0D38C5;
}

#mario {
	background-color:#FF0000;
	}

#mario img {
	left: 40px;
}

#luigi {
	background-color:#008800;}

#luigi img {
	left: 50px;
}
#bowser {
	background-color:#E2BE22;}

#bowser img {
	left: 1px;
}

#toad {
	background-color:#0000FF;}

#toad img {
	left: 43px;
}

#reset {
	display: inline-block;
	margin-left: 3%;
	position: absolute;
}

.hidden {
	visibility: hidden;
}
